
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NorthDacoder.com</title>

    <!-- Custom Font Icons -->
    <link href='http://fonts.googleapis.com/css?family=Caesar+Dressing|Cherry+Cream+Soda|Josefin+Sans:100,400|Rokkitt|Graduate|Pacifico|Special+Elite|Playball|Sancreek' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <!-- Css Styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/scrolling-nav.css" rel="stylesheet" type="text/css">
    <link href='css/agile.css' rel='stylesheet' type='text/css'>
 
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.17/firebase.js'></script>
    <script type='text/javascript'
        src='https://cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js'></script>
    <script type="text/javascript" src="js/agile.js"></script>
  
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top"><i class="fa fa-github"></i> northdacoder.com</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about" class="navlink">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#services" class="navlink">Services</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact" class="navlink">Contact</a>
                    </li>

                    
                </ul>
                <ul style="list-style-type: none;">
                    <li class="pull-right">
                        <a id="googleLogin" class="btn btn-lg btn-block btn-success"><i class="fa fa-rocket"></i> Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            </div>
        </div>
        <!-- /.container -->
    </nav>

    <section id="intro" class="intro-section">
        <div class="container-fluid" id="landingHeader">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-scroll">
                        <div class="row">
                            <div class="col-xs-12" id="titleContainer">
                                <h1 id="homeTitle">NORTHDA<span id="codeblink">CODE</span>R.COM</h1>
                                <div class="row" id="navbuttons">
                                    <div class="col-sm-3">
                                        <a class="btn btn-success btn-lg btn-block outline" href="https://www.github.com/northdacoder" id="social-github"><small><i class="fa fa-github"></i> Github</small></a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a class="btn btn-primary btn-lg btn-block outline" href="https://twitter.com/northDacoder" id="social-twitter"><small><i class="fa fa-twitter"></i> Follow</small></a>
                                    </div>

                        
                                     <div class="col-sm-3">
                                        <a class="btn btn-info btn-lg btn-block outline" href="https://twitter.com/northDacoder" id="social-twitter"><small><i class="fa fa-briefcase"></i> Portfolio</small></a>
                                    </div>

                                    <div class="col-sm-3">
                                        <a class="btn btn-primary btn-lg btn-block outline" href="https://twitter.com/northDacoder" id="hireme"><small><i class="fa fa-rocket"></i> Hire Me</small></a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="about-section">
        <div class="container-fluid">
            <div class="row">
                <h1 class="text-center">About Section</h1>
                <div class="col-lg-12">

                </div>
            </div>
        </div>
    </section>


    <section id="services" class="services-section">
        <div class="container-fluid">
            <div class="row">
                <h1 class="text-center">Services Section</h1>
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact-section">
        <div class="container-fluid">
            <div class="row">
                <h1 class="text-center">Contact Section</h1>
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </section>
  
</body>
</html>







